<%= render 'shared/navbar' %>
<div class="max-w-screen-xl mx-auto h-auto px-4 py-6 bg-gray-100">
  <h1 class="font-bold text-4xl">Backend</h1>
  <p>Find me in app/views/backend/dashboard.html.erb</p>
</div>
